/* HomePage.css */
body {
  background-color: rgb(252, 2, 2); 
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.styled-table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    
  }
  
  .styled-table th,
  .styled-table td {
    border: 1px solid #f2f3f4;
    padding: 3px;
    min-width: 70px; 
  }
  
  .styled-table th {
    background-color: #AEAEAE;
  }
  
  .styled-table th.up-time {
    background-color: #41ff41; /* สีเขียวอ่อน */
    text-align: center;
  }

  .styled-table th.down-time {
    background-color: #f7dc6f; /* สีเหลืองอ่อน */
    text-align: center;
  }
  .styled-table th.id{text-align: center;}
  .styled-table th.order{text-align: center;}
  .styled-table th.name{text-align: center;}
  .styled-table th.edit{text-align: center;}
  .styled-table th.ar{text-align: center;}
  .styled-table th.action{text-align: center;}
  .styled-table th.tk{text-align: center;}

  /*.styled-table tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  .styled-table tr:hover {
    background-color: #ffffff;
  }*/
  
  .capture-form {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .form-container.no-buttons .button-container {
    display: none;
  }

  .form-container {
    background-color: white;
    width: 800px; 
    padding: 20px;
    margin: 0 auto; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #f2e4b9;
  }
  
